.footer{
    width: 100%;
    background:rgba(0,0,0,0.75);
    margin-top: 30px;
    
}
@media screen and (max-width:1500px){
    .footer{
        background: black
    }
}
.content{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: gray

}
@media screen and (max-width:900px){
    .content{
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;

    }
}
@media screen and (max-width:700px){
    .content{
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;

    }
}


.foo {
    display: flex;
    flex-direction: column;
    gap: 30px;

}